{% extends '/back/base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Détails de l'utilisateur</h1>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Utilisateur #{{ user.id }}</h5>
            </div>
            <div class="card-body">
                <p><strong>Prénom :</strong> {{ user.firstname }}</p>
                <p><strong>Nom :</strong> {{ user.lastname }}</p>
                <p><strong>Email :</strong> {{ user.email }}</p>
                <p><strong>Rôles :</strong> {{ user.roles|join(', ') }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ path('app_back_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('app_back_user_delete', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}